html {
  font-size: 62.5%;
}

body {
  font-family: $font-stack;
  font-weight: 400;
  color: $dark-grey;
}

h1 {
  font-size: 36px;
  font-size: 3.6rem;
}

h2 {
  font-size: 30px;
  font-size: 3.0rem;
}

h3 {
  font-size: 24px;
  font-size: 2.4rem;
}